div.fwTopInfoBreadCrumb {
	text-align: left;
	width: 69%;
	float: left;
	clear: left;
	font-size: 1.0em;
	overflow: hidden;
	/* border: solid 1px #009900; */
}

.pf-module:after {
	clear: none;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

/* float clearing for IE6 */
* html .pf-module {
	height: 1%;
	overflow: visible;
}

/* float clearing for IE7 */
*+html .pf-module {
	min-height: 1%;
}

.pf-breadCrumb {
	margin: 0;
	padding: 0;
	float: left;
	clear: left;
	display: block;
	height: auto;
	overflow: hidden;
	width: 100%;
	padding: 1px;
	border: none;
	background: Transparent;
}

div.pf-breadCrumb.pf-module div {
	width: 960px !important;
}

.pf-breadCrumb ul {
	margin: 0;
	padding: 0;
	height: auto;
	display: block;
}

.pf-breadCrumb ul li {
	display: block;
	float: left;
	position: relative;
	height: auto;
	overflow: hidden;
	/* line-height: 21px;*/
	margin: 0px 6px 0px 0;
	padding: 0px 10px 0px 0;
	font-size: .9em;
	/*background: url(/admin/resources/images/gui/valgUL2.gif) no-repeat 100% 0;*/
}

.pf-breadCrumb ul li div.chevronOverlay {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}

.pf-breadCrumb ul li span {
	display: block;
	overflow: hidden;
}

.pf-breadCrumb ul li a {
	display: block;
	position: relative;
	height: auto;
	/*line-height: 21px; */
	overflow: hidden;
	float: left;
}

.pf-breadCrumb ul li.first a {
	height: 16px !important;
	text-indent: -1000em;
	width: 16px;
	padding: 0;
	margin-top: 2px;
	overflow: hidden;
	/* background:url(primefaces_resources:url:/primefaces/breadcrumb/IconHome.gif) no-repeat 0 0;*/
}

.pf-breadCrumb ul li.first a:hover {
	background-position: 0 -16px;
}

.pf-breadCrumb ul li.last {
	background: none;
	margin-right: 0;
	padding-right: 0;
}

.chevronOverlay {
	display: none;
	/*background: url(/admin/resources/images/gui/valgUL2.gif) no-repeat 100% 0;*/
	width: 13px;
	height: auto;
}