/* design partial classes - as defines in the 'HÅNDBOK FOR BRUK AV VALGMATERIELL'  */
	/*
Fargepaletten består av fire primærfarger og én sekundærfarge. Fargepaletten er politisk nøytral og vektlegger emosjonelle
verdier som stolthet og kvalitet. I tillegg er den designet med utgangspunkt i prinsipper for universell design.
Bakgrunnsfargen er hvit, teksten settes i sort og den oransje signalfargen benyttes strategisk for å fremheve, markere
og tydeliggjøre viktig informasjon.
*/
.hvit {
	color: #ffffff;
}

.sort {
	color: #000000;
}

.gull {
	color: #a69765; /*color: #A29061;*/
}  /* den siste er fra PDF skjermdump - ganske anderledes.. */
.oransje {
	color: #ff6e00; /*color: #F58237;*/
}  /* den siste er fra PDF skjermdump - ganske anderledes.. */
.bla,.blaa {
	color: #00a9e0;
}

/* 
Skriftsnittet i valgprofilen er Transit fra FontFont. Transit er designet av det tyske designbyrået Metadesign spesielt
for skilting og andre informasjonssystemer. Skriften er tydelig og har god lesbarhet både på kort og lang avstand.
Arial skal brukes dersom man ikke har tilgang til Transit. Arial er en systemfont som finnes på de fleste datamaskiner.
Arial Regular skal brukes på vanlig brødtekst, Arial Bold brukes til overskrifter og utheving av viktig informasjon.
 */
.transitbold {
	font-family: Transit, Arial, Geneva, Helvetica, Sans-Serif;
	font-weight: bold;
}

.transit {
	font-family: Transit, Arial, Geneva, Helvetica, Sans-Serif;
	font-weight: normal;
}

h1,h2,h3,h4 {
	display: block;
	margin: 0.8em 0em 0.5em 0em;
	color: #000;
	font-weight: bold;
}

h1 {
	font-size: 1.6em;
}

h2 {
	font-size: 1.4em;
	margin-bottom: 2em;
}

h3 {
	font-size: 1.1em;
	margin-bottom: 1em;
}

h4 {
	font-size: 1.0em;
}

strong {
	font-weight: bold;
}